body {
    font-family: 'Arial',
        'Verdana',
        sans-serif;
    background-color: #232E3C;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: medium;
}

.main__container {
    background-color: #17212B;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.balance__label {
    font-size: 1.2em;
    margin: 5px 0;
    color: #999;
}

.balance__amount {
    font-size: 2.5em;
    margin: 0;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.actions__button {
    background-color: #6AB2F2;
    color: white;
    padding: 10px;
    width: 7em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.2s;
}

.actions__button:hover {
    background-color: #2266ff;
}

.coin-list {
    list-style: none;
    padding: 0;
}

.coin-list__item {
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.coin {
    display: flex;
    align-items: center;
}

.coin__icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.coin__description {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.coin__name-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.coin__name {
    font-size: 1em;
}

.coin__price {
    font-size: 0.9em;
    color: #999;
}

.coin__balance {
    text-align: right;
}

.coin__value {
    font-size: 1em;
}

.coin__amount {
    font-size: 0.9em;
    color: #999;
}

.footer {
    margin-top: 10px;
}

.footer__banner {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .footer__banner {
        display: none;
    }
}